
.textContainer {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.textContainer h3 {
    font-size: 2.5rem;
}

.textContainer p {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
